
<div class="grid-container">
  <div class="grid-item">
    <svg [attr.width]="this.binWidth" [attr.height]="this.binHeight" *ngIf="this.rectangles">
      <rect *ngFor="let rect of this.rectangles; let i = index"
            [attr.x]="positions[i].x"
            [attr.y]="positions[i].y"
            [attr.width]="rect?.width"
            [attr.height]="rect?.height"
            [attr.fill]="rect?.color"
      />
    </svg>
  </div>
  <div class="grid-item">
    <input class="favorite styled-button"
           type="button"
           value="Pack and Visualize"
           (click)="packAndVisualizeButtonClick()">

    <select #algorithm (change)="selectAlgorithmChange(algorithm.selectedIndex)">
      <option value="NextFitDecreasingHeightAlgorithm">Next-Fit Decreasing Height Algorithm</option>
      <option value="OtherAmazingAlgorithm">Other Amazing Algorithm</option>
    </select>

    <textarea rows="20" cols="30"
              [(ngModel)]="inputData" name="inputData">
    </textarea>

    <!--{{inputData}}-->
  </div>
</div>
