svg {
  zoom: 10;
  border: 0.25px dotted gray;
}

.styled-button {
  //zoom: 0.75 !important;
  border: 0;
  line-height: 2.5;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: darkcyan;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled-button:hover {
  background-color: cyan;
  cursor: pointer;
}

.styled-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.grid-container {
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto;
}

.grid-item {
  //background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  //display: flex;
}

textarea {
  margin-top: 20px;
  border: 0.25px solid gray;
  font-size: large;
}

.error-message {
  color: red;
  font-size: large;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
